

*{
    margin: 0;
    padding: 0;
}
body{
    /*background-color: black;
    color: white;*/
    font-family: Circular, Helvetica, Arial, sans-serif;
}

.close{
    display: none;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
    position: relative;
}

.home{
    padding: 11px;
}
.home img{
    width: 100px;
}
.home ul li{
    display: flex;
    gap: 15px;
    width: 25px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
}

.heading img{
    width: 25px;
}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a{
    color: grey;
    text-decoration: none;
}

.library{
    min-height: 68.9vh;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}

.header > *{
    padding: 20px;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.SpotifyPlaylist{
    padding: 16px;
}

.cardContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 65vh;
}

.card{
    width: 175px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card > *{
    padding-top: 5px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 22%;
    right: 5%;
    opacity: 1;
    transition: all 1s ease-out;
}

.buttons > *{
    margin: 0 13px;
}

.signupbtn{
    background-color: rgb(34 34 34);
    color: rgb(184, 181, 181);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover{
    font-size: 17px;
    color: whitesmoke;
}

.loginbtn{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 21px;
    width: 79px;
    padding: 10px;
    font-size: 16px;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
    width: 80px;
}

.playbar{
    min-height: 37px;
    position: fixed;
    bottom: 25px;
    filter: invert(1);
    background: #dad5d5;
    border-radius: 20px;
    width: 92%;
    padding: 8px;
    width: 64.3vw;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songlist {
    height: 544px;
    overflow: auto;
    margin-bottom: 65px;
    margin-top: 20px;
}
 
.songlist ul{
    padding: 0 14px;
    padding: 15px;
}

.songlist .info {
    font-size: 13px;
    width: 344px;
} 

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 63.3vw;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 2px;
    margin: 8px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 4px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
}

.songinfo {
   color: black;
   padding: 0 12px;
   width: 250px;
}

.songtime {
    width: 125px;
    color: black;
   padding-top: 3px;
}

.hamburger{
    display: none;
}

.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

/*@media (max-width: 1400px){
    .left{
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
    } 

    .left .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 24px;
    }

    .right{
        width: 75vw;
    }

    .playbar{
        width: 88vw;
    }

    .seekbar{
        width: 83vw;
    }

    .card{
        width: 90vw;
    }

    .cardContainer{
        margin: 0;
        justify-content: center;
    }

    .hamburger{
        display: block;
    }

    .close{
        display: block;
    }
}*/