.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.m-2{
    margin: 14.7px;
}

.p-1{
    padding: 10px;
}

/* Webkit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1e1e1e;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 #1e1e1e;
  }
  
  /* For Internet Explorer and Edge (pre-Chromium) */
  body {
    scrollbar-face-color: #888;
    scrollbar-track-color: #1e1e1e;
    scrollbar-arrow-color: #888;
    scrollbar-shadow-color: #1e1e1e;
  }